<?xml version="1.0" encoding="UTF-8"?>

<!-- Sample Master Suite File containing all relevant Suite Files -->
<suite name="DashboardSetup">

	<suite-files>
		<suite-file
			path="./src/main/resources/suitefile/01_dashboardpage.xml" />
		<suite-file
			path="./src/main/resources/suitefile/02_productpage.xml" />
		<suite-file
			path="./src/main/resources/suitefile/03_dropdown.xml" />
		<suite-file
			path="./src/main/resources/suitefile/04_dashboardslidder.xml" />
		<suite-file
			path="./src/main/resources/suitefile/05_viewpage.xml" />
		<suite-file
			path="./src/main/resources/suitefile/06_recentruns.xml" />
		<suite-file
			path="./src/main/resources/suitefile/07_testcasesresult.xml" />
	</suite-files>

</suite>