<?xml version="1.0" encoding="UTF-8"?>

<!-- Sample Master Suite File containing all relevant Suite Files -->
<suite name="DashboardSetup" configfailurepolicy="skip">

	<suite-files>
		<suite-file
			path="./src/main/resources/suitefile/DashboardPage.xml" />
		<suite-file
			path="./src/main/resources/suitefile/DashboardSlidder.xml" />
		<suite-file
			path="./src/main/resources/suitefile/Dropdowns.xml" />
		<suite-file
			path="./src/main/resources/suitefile/ProductPage.xml" />
		<suite-file
			path="./src/main/resources/suitefile/RecentRuns.xml" />
		<suite-file
			path="./src/main/resources/suitefile/TestcasesResult.xml" />
		<suite-file
			path="./src/main/resources/suitefile/ViewPage.xml" />
	</suite-files>

</suite>